.users-table-item {
    display: flex;
    padding: 10px 3px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px #e5e5e5 solid;
    transition: all 0.2s ease;
    &:hover {
        background: #f2f3f5;
    }
    img {
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.users-table-item > * {
    display: flex;
    flex: 1;
}
