.posts-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 80vh;
  background: #ffffff;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 0px 1.6px rgba(0, 0, 0, 0.004),
  0 0.1px 3.8px rgba(0, 0, 0, 0.006), 0 0.1px 7.1px rgba(0, 0, 0, 0.007),
  0 0.2px 12.7px rgba(0, 0, 0, 0.008), 0 0.4px 23.8px rgba(0, 0, 0, 0.009),
  0 1px 57px rgba(0, 0, 0, 0.01);
}