@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Mulish', sans-serif;
}
