.header {

    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #252733;
    letter-spacing: 0.3px;
}
